body {
  background-color: #282828;
  font-family: 'Roboto Mono', monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.colortexto {
  color: white;
}

.formularioEmpleados {
  border: 2px solid white;
}

.ladoFoto {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7FC3DF;
}

.ladoFoto:hover{
  cursor: pointer;
  transform: scale(1.01);
  transition: .3s;
}

img {
  width: 100%;
}

.ladoCajas {
  padding: 20px;
}

.txt {
  border: none;
  width: 100%;
  padding: 7px;
  background-color: transparent;
  border-bottom: 3px solid #7FC3DF;
  color: white;
}
.txt:focus {
  outline: none;
  border-bottom: 3px solid #60E0B5;
  background: linear-gradient(to top, black, transparent);
  color: white;
  transition: .5s;
}

.listadoEmpleados {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

li:hover {
  color: #7FC3DF;
  cursor: pointer;
  transition: .5s;
}

